[Unit]
Description=PostgreSQL database
Requires=docker.service
After=docker.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/docker start -a db || /usr/bin/docker run --name=db --detach postgres"
ExecStartPost=/usr/bin/etcdctl set /domains/leadformance.com/%H:%i running
ExecStop=/usr/bin/docker stop db
ExecStopPost=/usr/bin/etcdctl rm /domains/leadformance.com/%H:%i
