[Unit]
Description=PostgreSQL database
After=docker.service
After=etcd.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/docker start db || /usr/bin/docker run --name=db postgres"
ExecStartPost=/usr/bin/etcdctl set /domains/leadformance.com/%H:%i running
ExecStop=/bin/bash -c "/usr/bin/docker stop db && /usr/bin/docker rm db"
ExecStopPost=/usr/bin/etcdctl rm /domains/leadformance.com/%H:%i
